.orderzing-animation {
    overflow: hidden;

    .gwd-pagedeck {
        height: 640px;

        @media only screen and (min-width : @screen-md) {
            display:block;
        }
        display: none;

    }

    .gwd-page{
        overflow: visible;

        h1 {
            text-align: left;
        }
    }
}