.jumbotron.home {

    background-image: url(../images/product-images/manage-restaurant.jpg);
    padding-top: 20%;
    padding-bottom: 20%;
    background-position: center;
    background-size: cover;
    max-height: 810px;

}


.jumbotron.brand-in-pocket {

    background-image: url(../images/product-images/brand.jpg);
    background-position: center;
    background-size: cover;
    max-height: 810px;

}


.mask {
    background-color: white;
    width: 100%;
    heigh: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.centered-images {

    .partner-logos {
        padding: 0px;
        @media only screen and (min-width : @screen-xs) {
            padding: 0 60px;
        }
        margin: 0;
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;

        li {
            width: auto;
            height: 40px;
            margin-bottom: 20px;
            text-align: center;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;

            @media only screen and (max-width : @screen-md) {
                width: 167px;
            }

            img {
                height: 40px;
            }
        }
    }


}

.cluster-image {
    margin: auto;
    max-width: 100%;

    @media only screen and (max-width : @screen-md) {
        margin: 20px 0px 20px 0px;
    }
}